= f.error_messages

%p
  = f.label :username
  %br/
  = f.text_field :username
%p
  = f.label :email
  %br/
  = f.text_field :email
%p
  #{f.label :admin}? :
  = f.check_box :admin
  
%p
  = f.label :password
  %br/
  = f.text_field :password
  = f.hidden_field :userfolder
  = link_to_function 'Generate Password', 'generate_password()'

