%h1 Change Password

- form_for(@user, :url => {:action => 'update_password'}) do |f|
  = f.error_messages

  %p
    = f.label :old_password
    %br/
    = password_field_tag :old_password
  %p
    = f.label :password, 'New Password'
    %br/
    = f.password_field :password
  %p
    = f.label :password_confirmation, 'Confirm New Password'
    %br/
    = f.password_field :password_confirmation
  %p
    = f.submit 'Update Password'
    
%p
  &nbsp;
  
%h1 Change DB Password

- form_for(@user, :url => {:action => 'update_db_password'}) do |f|
  = f.error_messages

  %p
    = f.label :dbpassword, 'New DB Password'
    %br/
    = f.text_field :dbpassword
  %p
    = f.submit 'Update DB Password'

%p
  &nbsp;
  
  
= link_to 'Back', admin_path if is_admin?
