%h1 New User

- form_for(@user) do |f|
  = f.error_messages

  %p
    = f.label :email
    %br/
    = f.text_field :email
  %p
    #{f.label :admin}? :
    = f.check_box :admin
  %p
    = f.submit 'Create'

= link_to 'Back', users_path
