= f.error_messages

%p
  = f.label :fqdn, "FQDN"
  %br/
  = f.text_field :fqdn, :class => 'title'

- if is_admin?
  %p
    = label_tag :user_id
    %br/
    = f.collection_select :user_id, @users, :id, :email, {:prompt => true, :selected => params[:u].to_i}
- else
  = f.hidden_field :user_id, :value => current_user.id
  
%p
  = f.label :mount_point
  %br/
  = f.text_field :mount_point