%h1 Domain Workbench

#workbench
  #settings_bubble_blueprint.settings-bubble{:class => 'hidden'}
    .domain-settings
      hullo
    .browser
  - @domains.each do |domain|
    .domain{:id => "domain#{domain.id}"}
      .domain-nob
      .domain-info
        %h1= h(domain.fqdn)
        %div
          = link_to 'Edit', edit_domain_path(domain)
          = link_to 'Destroy', domain, :confirm => 'Are you sure?', :method => :delete
          %span.domain_path= h(domain.mount_point)
          = link_to 'âœ', '#edit', :class => 'domain_edit'
        %span.domain_id.hidden= domain.id
        %span.domain_owner.hidden= domain.user_id
        %span.domain_changed.hidden 0

%br/

= link_to 'New domain', new_domain_path
