<h1>Listing domains</h1>

<table>
  <tr>
    <th>Domain</th>
    <th>Folder</th>
    <th><%= 'User' if current_user.admin %></th>
  </tr>

<% @domains.each do |domain| %>
  <tr>
    <td><%= link_to domain.fqdn, "http://"+domain.fqdn, :target => "_blank" %></td>
    <td><%=h domain.mount_point %></td>
    <td><%=h domain.user.email if current_user.admin %></td>
    <td><%= link_to 'Show', domain %></td>
    <td><%= link_to 'Edit', edit_domain_path(domain) %></td>
    <td><%= link_to 'Destroy', domain, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New domain', new_domain_path %>
