%h1 Domain Workbench

#workbench
  .settings-bubble{:class => 'hidden'}
  - @domains.each do |domain|
    .domain{:id => "domain#{domain.id}"}
      .domain-nob
      .domain-info
        %h1= h(domain.fqdn)
        %div
          = link_to 'Edit', edit_domain_path(domain)
          = link_to 'Destroy', domain, :confirm => 'Are you sure?', :method => :delete
          = h(domain.mount_point)
          = link_to '✎', '#edit', :class => 'domain_edit'

%br/

= link_to 'New domain', new_domain_path
