%h1 Domain Workbench

#workbench
  #settings_bubble_blueprint.settings-bubble{:class => 'hidden'}
    .domain-settings      
      
    .browser
  - @domains.each do |domain|
    - position_style = domain.workbench_x && domain.workbench_x ? "top: #{domain.workbench_y}px; left: #{domain.workbench_x}px" : ""
    .domain{:id => "domain#{domain.id}", :style => position_style}
      .domain-nob
      .domain-info
        %h1= h(domain.fqdn)
        %div
          = link_to 'Edit', edit_domain_path(domain)
          = link_to 'Destroy', domain, :confirm => 'Are you sure?', :method => :delete
          %span.domain_path= h(domain.mount_point)
          = link_to 'âœ', '#edit', :class => 'domain_edit'
        %span.domain_id.hidden= domain.id
        %span.domain_owner.hidden= domain.user_id
        %span.domain_changed.hidden 0

%br/

= link_to 'New domain', new_domain_path
