<p>
  <b>Domain:</b>
  <%=h @domain.domain %>
</p>

<p>
  <b>Folder:</b>
  <%=h @domain.folder %>
</p>

<p>
  <b>User:</b>
  <%=h @domain.user.email %>
</p>



<%= link_to 'Edit', edit_domain_path(@domain) %> |
<%= link_to 'Back', domains_path %>