!!!
%html
  %head
    %meta{:http => 'content-type', :content => 'text/html;charset=UTF-8'}
    %title= controller.action_name
    = stylesheet_link_tag 'scaffold'
  %body
    %p{:style => 'color: green'}= flash[:notice]
    - if user_signed_in?
      = link_to 'logout', destroy_user_session_path
    
    %h1 This is where the fun starts!
    
    = yield
